{% extends 'base.html' %}

{% block content %}
<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">

{% include 'submenu-logged-in.html' %}

<!-- bloc-9 -->
<div class="bloc bg-Vector-2031 bgc-white-2 tc-dark-raspberry l-bloc" id="bloc-9">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-12">
				<h2 class="mg-md tc-radical-red h2-style text-lg-center">
					Достижения
				</h2>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col-11 col-sm-12 col-lg-4 col-md-6">
								<img src="static/img/lazyload-ph.png" data-src="static/img/beginner.png" class="img-fluid mx-auto d-block image-dostizheniye-padding lazyload" alt="placeholder image" /><img src="static/img/lazyload-ph.png" data-src="static/img/traveller.png" class="img-fluid mx-auto d-block image-dostizheniye-padding lazyload" alt="placeholder image" />
							</div>
							<div class="col-11 col-sm-12 col-lg-4 order-lg-0 align-self-center col-md-6">
								<img src="static/img/lazyload-ph.png" data-src="static/img/ideal.png" class="img-fluid mx-auto d-block image-dostizheniye-padding lazyload" alt="placeholder image" /><img src="static/img/lazyload-ph.png" data-src="static/img/hero.png" class="img-fluid mx-auto d-block image-dostizheniye-padding lazyload" alt="placeholder image" />
							</div>
							<div class="col">
								<img src="static/img/lazyload-ph.png" data-src="static/img/five%20fill.png" class="img-fluid mx-auto d-block image-dostizheniye-padding lazyload" alt="placeholder image" /><img src="static/img/lazyload-ph.png" data-src="static/img/back%20fill.png" class="img-fluid mx-auto d-block image-dostizheniye-padding lazyload" alt="placeholder image" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-9 END -->

</div>
<!-- Main container END -->

{% endblock %}