{% extends 'base.html' %}

{% block content %}

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">


<!-- bloc-8 -->
<div class="bloc bg-Vector-2031 bgc-white-2 tc-dark-raspberry l-bloc" id="bloc-8">
	<div class="container bloc-lg">
		<div class="row" style="justify-content: center">
            <form action="{{ url_for('forgot_password') }}" method="POST">
                <div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="card flashes" style="align-items: center">
                                <div class="card-body">
                                    {% for message in messages %}
                                        <p style="color: #6b223e; font-weight: bold;">{{ message }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col profile-block margin-tabs bgc-white-2">
                            <h3 class="mg-md p-heading-edit-profile">
                                Восстановление пароля
                            </h3>
                            <div class="row row-41-style">
                                <div class="col-lg-12">
                                    <div class="container-div-style">
                                        <label>
                                            Введите ваш логин<br>
                                        </label>
                                        <input class="form-control field-style" type="text" name="username" required/>
                                    </div>
                                    <div>
                                        <label>
                                            Введите новый пароль<br>
                                        </label>
                                        <input class="form-control field-bloc-8-style" type="password" name="new_password" id="new_password" required/>
                                    </div>
                                    <div>
                                        <label>
                                            Повторите новый пароль<br>
                                        </label>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <input onkeyup="check_validity()" class="form-control field-0-style" type="password" name="new_password_repeat" id="new_password_repeat" required/>
                                            </div>
                                        </div>
                                        <div id="password_doesnt_match" style="display: none">
                                            <p class="mg-md tc-5075 text-padding-login p-text-login-page">Пароли не совпадают</p>
                                        </div>
                                    </div><input value="Сохранить" type="submit" class="btn btn-lg btn-save-style btn-radical-red float-lg-none">
                                </div>
                            </div>
                        </div>
                    </div>
			    </div>
            </form>

		</div>
	</div>
</div>
<!-- bloc-8 END -->


</div>
<!-- Main container END -->

    <script>
        var check_validity = function() {
          if (document.getElementById('new_password').value ===
            document.getElementById('new_password_repeat').value) {
            document.getElementById('password_doesnt_match').style.display = "none";
          }
          else{
              document.getElementById('password_doesnt_match').style.display = "block";
          }
        }
    </script>
    
{% endblock %}
