<div class="row" style="display: flex; justify-content: center">
    <div class="col-sm-6 col offset-lg-0 bgc-white-3 profile-block">
        <h4 style="text-align: center">Чтобы увидеть информацию по своему профилю, заполните все данные</h4>
        <div style="display: flex;justify-content: center">
            <a href="{{ url_for('edit_profile', username=current_user.username) }}" class="btn btn-lg edit-button-profile btn-button-style btn-c-4135" style="font-size: 20px; width: 50%">Изменить</a>
        </div>
    </div>
</div>
