<!-- bloc-1 -->
<div class="bloc l-bloc" id="bloc-1" style="padding-top: 100px">
    <div class="container bloc-sm">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light row navbar-expand-md flex-column" role="navigation">
                    <button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0" data-toggle="collapse" data-target=".navbar-47894" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-47894">
                        <ul class="site-navigation nav navbar-nav mx-auto justify-content-center">
                            <li class="nav-item">
                                <a href="{{ url_for('profile') }}" class="nav-link">Профиль</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('appointment') }}" class="nav-link">Записаться</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('bonuses') }}" class="nav-link">Мои бонусы</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('achievements') }}" class="nav-link">Мои Достижения</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- bloc-1 END -->